In [7]:
import pandas as pd
import numpy as np
import datetime as dt

In [8]:
df = pd.read_csv('hourly_data.csv')

In [12]:
df.dtypes

Unnamed: 0     int64
date          object
hour           int64
requests       int64
dtype: object

In [13]:
def pad_hour_repr(hour):
    if hour < 10:
        return '0' + str(hour)+ '::00::00' 
    else:
        return str(hour)+ '::00::00'

In [15]:
df['hour'] = df.hour.apply(pad_hour_repr)
df.head()

   Unnamed: 0        date        hour  requests
0           0  1995-06-01  00::00::00        65
1           1  1995-06-01  01::00::00        16
2           2  1995-06-01  02::00::00        37
3           3  1995-06-01  03::00::00        76
4           4  1995-06-01  04::00::00        57

In [17]:
df['timestamp'] = df['date'] + '::' + df['hour']
df.head()

   Unnamed: 0        date        hour  requests               timestamp
0           0  1995-06-01  00::00::00        65  1995-06-01::00::00::00
1           1  1995-06-01  01::00::00        16  1995-06-01::01::00::00
2           2  1995-06-01  02::00::00        37  1995-06-01::02::00::00
3           3  1995-06-01  03::00::00        76  1995-06-01::03::00::00
4           4  1995-06-01  04::00::00        57  1995-06-01::04::00::00

In [22]:
df['timestamp'] = pd.to_datetime(df['timestamp'],format = '%Y-%m-%d::%H::%M::%S')

In [23]:
df.dtypes

Unnamed: 0             int64
date                  object
hour                  object
requests               int64
timestamp     datetime64[ns]
dtype: object

In [24]:
df.head()

   Unnamed: 0        date        hour  requests           timestamp
0           0  1995-06-01  00::00::00        65 1995-06-01 00:00:00
1           1  1995-06-01  01::00::00        16 1995-06-01 01:00:00
2           2  1995-06-01  02::00::00        37 1995-06-01 02:00:00
3           3  1995-06-01  03::00::00        76 1995-06-01 03:00:00
4           4  1995-06-01  04::00::00        57 1995-06-01 04:00:00

In [27]:
ts = df[['timestamp','requests']].copy()
ts.set_index('timestamp',inplace =True)
ts.head()

                     requests
timestamp
1995-06-01 00:00:00        65
1995-06-01 01:00:00        16
1995-06-01 02:00:00        37
1995-06-01 03:00:00        76
1995-06-01 04:00:00        57

In [29]:
ts.to_csv('requests_ts.csv')